In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [4]:
df = spark.read.csv('TimeProvince.csv', header=True)
df.show()

+----------+----+-----------------+---------+--------+--------+
|      date|time|         province|confirmed|released|deceased|
+----------+----+-----------------+---------+--------+--------+
|2020-01-20|  16|            Seoul|        0|       0|       0|
|2020-01-20|  16|            Busan|        0|       0|       0|
|2020-01-20|  16|            Daegu|        0|       0|       0|
|2020-01-20|  16|          Incheon|        1|       0|       0|
|2020-01-20|  16|          Gwangju|        0|       0|       0|
|2020-01-20|  16|          Daejeon|        0|       0|       0|
|2020-01-20|  16|            Ulsan|        0|       0|       0|
|2020-01-20|  16|           Sejong|        0|       0|       0|
|2020-01-20|  16|      Gyeonggi-do|        0|       0|       0|
|2020-01-20|  16|       Gangwon-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongbuk-do|        0|       0|       0|
|2020-01-20|  16|Chungcheongnam-do|        0|       0|       0|
|2020-01-20|  16|     Jeollabuk-do|        0|       0|       0|
|2020-01-20|  16|     Jeollanam-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangbuk-do|        0|       0|       0|
|2020-01-20|  16| Gyeongsangnam-do|        0|       0|       0|
|2020-01-20|  16|          Jeju-do|        0|       0|       0|
|2020-01-21|  16|            Seoul|        0|       0|       0|
|2020-01-21|  16|            Busan|        0|       0|       0|
|2020-01-21|  16|            Daegu|        0|       0|       0|
+----------+----+-----------------+---------+--------+--------+
only showing top 20 rows

In [5]:
df.printSchema()

root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- province: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- released: string (nullable = true)
 |-- deceased: string (nullable = true)

In [6]:
def toint(x):
    if isinstance(x, str) == True:
        x1 = [str(ord(i)) for i in x]
        return (int(''.join(x)))
    else:
        return Null

In [7]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *
col_int = udf(lambda z: toint(z), IntegerType())
spark.udf.register("col_int", col_int)

In [8]:
df1 = df.withColumn('confirmed1', col_int('confirmed'))
df1.show()

+----------+----+-----------------+---------+--------+--------+----------+
|      date|time|         province|confirmed|released|deceased|confirmed1|
+----------+----+-----------------+---------+--------+--------+----------+
|2020-01-20|  16|            Seoul|        0|       0|       0|         0|
|2020-01-20|  16|            Busan|        0|       0|       0|         0|
|2020-01-20|  16|            Daegu|        0|       0|       0|         0|
|2020-01-20|  16|          Incheon|        1|       0|       0|         1|
|2020-01-20|  16|          Gwangju|        0|       0|       0|         0|
|2020-01-20|  16|          Daejeon|        0|       0|       0|         0|
|2020-01-20|  16|            Ulsan|        0|       0|       0|         0|
|2020-01-20|  16|           Sejong|        0|       0|       0|         0|
|2020-01-20|  16|      Gyeonggi-do|        0|       0|       0|         0|
|2020-01-20|  16|       Gangwon-do|        0|       0|       0|         0|
|2020-01-20|  16|Chungcheongbuk-do|        0|       0|       0|         0|
|2020-01-20|  16|Chungcheongnam-do|        0|       0|       0|         0|
|2020-01-20|  16|     Jeollabuk-do|        0|       0|       0|         0|
|2020-01-20|  16|     Jeollanam-do|        0|       0|       0|         0|
|2020-01-20|  16| Gyeongsangbuk-do|        0|       0|       0|         0|
|2020-01-20|  16| Gyeongsangnam-do|        0|       0|       0|         0|
|2020-01-20|  16|          Jeju-do|        0|       0|       0|         0|
|2020-01-21|  16|            Seoul|        0|       0|       0|         0|
|2020-01-21|  16|            Busan|        0|       0|       0|         0|
|2020-01-21|  16|            Daegu|        0|       0|       0|         0|
+----------+----+-----------------+---------+--------+--------+----------+
only showing top 20 rows

In [9]:
df1.printSchema()

root
 |-- date: string (nullable = true)
 |-- time: string (nullable = true)
 |-- province: string (nullable = true)
 |-- confirmed: string (nullable = true)
 |-- released: string (nullable = true)
 |-- deceased: string (nullable = true)
 |-- confirmed1: integer (nullable = true)

In [10]:
@udf
def to_upper(s):
    if s is not None:
        return s.upper()

In [11]:
df1.select(to_upper('province').alias('province'), 'confirmed1').show(5)

+--------+----------+
|province|confirmed1|
+--------+----------+
|   SEOUL|         0|
|   BUSAN|         0|
|   DAEGU|         0|
| INCHEON|         1|
| GWANGJU|         0|
+--------+----------+
only showing top 5 rows

In [59]:
# to_upper = udf(lambda z: to_upper(z), StringType())
# spark.udf.register("to_upper", to_upper)
# df1.withColumn('province1', to_upper('province')).show(2)

In [37]:
df3 = spark.read.csv('student_marks.csv', header=True)
df3.show()

+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+
|     _c0|Gender|       DOB|Maths|Physics|Chemistry|English|Biology|Economics|History|Civics|
+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+
|    John|     M|05/04/1988|   55|     45|       56|     87|     21|       52|     89|    65|
|  Suresh|     M|  4/5/1987|   75|     55|     null|     64|     90|       61|     58|     2|
|  Ramesh|     M| 25/5/1989|   25|     54|       89|     76|     95|       87|     56|    74|
| Jessica|     F| 12/8/1990|   78|     55|       86|     63|     54|       89|     75|    45|
|Jennifer|     F|  2/9/1989|   58|     96|       78|     46|     96|       77|     83|    53|
+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+

In [38]:
df3.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Maths: string (nullable = true)
 |-- Physics: string (nullable = true)
 |-- Chemistry: string (nullable = true)
 |-- English: string (nullable = true)
 |-- Biology: string (nullable = true)
 |-- Economics: string (nullable = true)
 |-- History: string (nullable = true)
 |-- Civics: string (nullable = true)

In [39]:
def get_pass_or_fail(x):
    if x > '50':
        return "Pass"
    else:
        return "fail"
result = udf(lambda z: get_pass_or_fail(z), StringType())
spark.udf.register('get_pass_or_fail', get_pass_or_fail)
df4 = df3.withColumn('result', result('Maths'))
df4.show()

+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+------+
|     _c0|Gender|       DOB|Maths|Physics|Chemistry|English|Biology|Economics|History|Civics|result|
+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+------+
|    John|     M|05/04/1988|   55|     45|       56|     87|     21|       52|     89|    65|  Pass|
|  Suresh|     M|  4/5/1987|   75|     55|     null|     64|     90|       61|     58|     2|  Pass|
|  Ramesh|     M| 25/5/1989|   25|     54|       89|     76|     95|       87|     56|    74|  fail|
| Jessica|     F| 12/8/1990|   78|     55|       86|     63|     54|       89|     75|    45|  Pass|
|Jennifer|     F|  2/9/1989|   58|     96|       78|     46|     96|       77|     83|    53|  Pass|
+--------+------+----------+-----+-------+---------+-------+-------+---------+-------+------+------+

In [40]:
df4.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- DOB: string (nullable = true)
 |-- Maths: string (nullable = true)
 |-- Physics: string (nullable = true)
 |-- Chemistry: string (nullable = true)
 |-- English: string (nullable = true)
 |-- Biology: string (nullable = true)
 |-- Economics: string (nullable = true)
 |-- History: string (nullable = true)
 |-- Civics: string (nullable = true)
 |-- result: string (nullable = true)

In [29]:
# def get_data(x):
#     return x.count('province')
# result = udf(lambda z: get_data(z), IntegerType())
# spark.udf.register('get_data', get_data)
# res = df.withColumn('result', result('province'))
# res.show()

In [41]:
slen = udf(lambda s: len(s), IntegerType())
df4 = df4.select(slen('_c0').alias('name_length'), 'result')
df4.show()

+-----------+------+
|name_length|result|
+-----------+------+
|          4|  Pass|
|          6|  Pass|
|          6|  fail|
|          7|  Pass|
|          8|  Pass|
+-----------+------+